.v3-header {
  background-image: url("./bg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 5rem 0 5rem 10rem;
  letter-spacing: 0.4rem;
}

.v3-header > * {
  color: #fff;
}

.v3-header > h1 {
  font-size: 5rem;
}

.v3-header > h3 {
  font-size: 2rem;
  border-right-style: revert;
  border-left-style: double;
  padding: 0 0.5rem;
}
.v3-body {
}
